In [1]:
# importing libraries
from zipfile import ZipFile
import numpy as np
import openpyxl
import pandas as pd

In [4]:
def read_zip(year):
    # specifying the zip file directory
    file_name = f"/mnt/d/Mexico_Births/sinac_{year}.zip"
    
    # opening the zip file in READ mode
    with ZipFile(file_name, 'r') as zip:
        # listing all the contents of the zip file
        file_list = zip.filelist
        # getting a DataFrame from the file in the index 0
        data = pd.read_csv(zip.open(file_list[0].filename) )
    return data

In [ ]:
columns_20 = ["EDAD","ESTADOCONYUGAL","ESCOLARIDAD","CLAVEOCUPACIONHABITUAL","FECHANACIMIENTO",\
    "HORANACIMIENTO", "SEXO", "TALLA", "PESO", "CLUES", "ENTIDADFEDERATIVAPARTO", "MUNICIPIOPARTO",\
"LOCALIDADPARTO"]

columns_19 = ["EDADM","EDOCIVIL","NIV_ESCOL","CVEOCUPHAB","FECH_NACH",\
    "HORA_NACH", "SEXOH", "TALLAH", "PESOH", "CLUES", "ENT_NAC", "MPO_NAC",\
"LOC_NAC"]

columns_16 = ["edad_madre","estado_conyugal","escolaridad_madre","ocupacion_habitual_madre","fecha_nacimiento_nac_vivo",\
    "hora_nacimiento_nac_vivo", "sexo_nac_vivo", "talla_nac_vivo", "peso_nac_vivo", "clues", "entidad_nacimiento", "municipio_nacimiento",\
"localidad_nacimiento"]

In [5]:
data = read_zip(2020)

/tmp/ipykernel_11836/3653674599.py:1: DtypeWarning: Columns (49,59) have mixed types.Specify dtype option on import or set low_memory=False.
  data = read_zip(2020)

In [8]:
data = data[columns_20]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747847 entries, 0 to 1747846
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   EDAD                    int64
 1   ESTADOCONYUGAL          int64
 2   ESCOLARIDAD             int64
 3   CLAVEOCUPACIONHABITUAL  int64
 4   FECHANACIMIENTO         object
 5   HORANACIMIENTO          object
 6   SEXO                    int64
 7   TALLA                   int64
 8   PESO                    int64
 9   CLUES                   object
 10  ENTIDADFEDERATIVAPARTO  int64
 11  MUNICIPIOPARTO          int64
 12  LOCALIDADPARTO          int64
dtypes: int64(10), object(3)
memory usage: 173.4+ MB

In [23]:
# reading births_colnames file which contains tables to join on data
file_name = f"/mnt/d/Mexico_Births/births_colnames.xlsx"
aux_data = pd.read_excel(file_name, sheet_name= None)
aux_sheets = tuple(aux_data.keys())[4:]

In [29]:
aux_sheets

('estado_conyugal', 'sexo', 'escolaridad', 'ocupacion2020', 'ocupacion2019')

In [30]:
aux_data[aux_sheets[0]]

   Clave_2020  Clave_2019_2015    desc_hom_cony
0           5               11           CASADA
1           1               12          SOLTERA
2           3               13       DIVORCIADA
3           2               14            VIUDA
4           4               15      UNIÓN LIBRE
5           6               16         SEPARADA
6           0               88  NO ESPECIFICADO
7           9               99        SE IGNORA

In [32]:
pd.merge(data.sample(15), aux_data[aux_sheets[0]], how="left", left_on="ESTADOCONYUGAL", right_on="Clave_2020" )

,EDAD,ESTADOCONYUGAL,ESCOLARIDAD,CLAVEOCUPACIONHABITUAL,FECHANACIMIENTO,HORANACIMIENTO,SEXO,TALLA,PESO,CLUES,ENTIDADFEDERATIVAPARTO,MUNICIPIOPARTO,LOCALIDADPARTO,Clave_2020,Clave_2019_2015,desc_hom_cony
0,18,4,51,2,24/09/2020,08:40,1,52,3400,CSSMP000753,7,101,1,4,15,UNIÓN LIBRE
1,18,4,1,2,11/10/2020,03:59,1,50,3180,VZSMP000231,30,44,1,4,15,UNIÓN LIBRE
2,23,5,72,2,26/11/2020,14:00,1,50,3580,MCSMP000116,15,57,1,5,11,CASADA
3,25,5,81,2,29/05/2020,11:00,1,49,2900,PLSMP003151,21,45,1,5,11,CASADA
4,21,4,82,2,22/01/2020,11:05,1,48,3700,TSSMP000585,28,32,1,4,15,UNIÓN LIBRE
5,34,5,51,2,27/04/2020,08:05,1,51,3550,PLSMP000381,21,119,1,5,11,CASADA
6,38,4,31,2,15/12/2020,12:23,2,52,3100,VZIMO001055,30,58,1,4,15,UNIÓN LIBRE
7,39,1,51,2,14/01/2020,15:45,2,50,9999,9998,14,120,1,1,12,SOLTERA
8,34,1,72,999,13/05/2020,16:48,1,50,2850,MCSSA018680,15,31,1,1,12,SOLTERA
9,20,4,51,2,19/11/2020,15:25,2,48,3050,9998,3,8,1,4,15,UNIÓN LIBRE
10,37,5,81,11,17/08/2020,18:35,1,40,1700,NLIMS000525,19,46,1,5,11,CASADA
11,32,5,51,2,25/07/2020,13:10,1,50,2840,NLSMP000513,19,48,1,5,11,CASADA
12,28,5,31,2,11/04/2020,10:15,1,55,4160,OCSSA020030,20,318,9,5,11,CASADA
13,28,6,51,2,25/04/2020,12:52,2,49,3245,CSSSA000453,7,9,1,6,16,SEPARADA
14,17,4,51,2,08/12/2020,09:07,2,47,2950,SLSMP000312,25,15,1,4,15,UNIÓN LIBRE